{% extends 'base.html' %}
{% load static %}
{% block content %}
<main>
  <!-- fix -->
    <div class="food-details">
        <img src="{% static 'food-image.jpg' %}" alt="Food Image">
        <img src="food2.jpg" alt="Food Image">
        <div class="food-info">
          <h2>{{detail.prdlstNm}}</h2>
          <p>세부 재료 : {{detail.rawmtrl}}</p>
          <p>알러지 성분 : {{detail.allergy}}</p>
        <form action="https://search.shopping.naver.com/search/all" method="GET">
            <input type="hidden" name="query" value="{{ food.name }}">
            <button type="submit"> 구매하기 </button>
        </form>
        </div>
    </div>
</main>
<div id="recommend"></div>
<h1>Search results for "{{ query }}"</h1>

<div class="picture-grid">
  {% for product in products %}
    <div class="product">
      <img src="{{ product.image }}" alt="{{ product.prdlstNm }}">
      <p>{{ product.prdlstNm }}</p>
    </div>
  {% endfor %}
</div>
{% endblock %}
